body {
    font-family: 'Montserrat', sans-serif;
}
.navbar {
   padding: 14px;
}
.navbar-dark {
   background:#101010;
} 
.navlink {
   font-family: 'Montserrat', sans-serif;
   text-decoration: none;
   color: #7b7b7b;
   padding: 22px;
   padding-left: -5px;
   font-size: 15px;
   margin-left: 55px;
}
.navlink:hover {
   color: #fff;
   border-bottom: 3.5px solid #f68b1e;
}
.navbar-brand {
   margin-left: 180px;
}
#kepo {
   color: #fff;
   border-bottom: 3.5px solid #f68b1e;
   font-weight: 500;
}
.kepo{
   color:#fd7e14 ;
  }